<html>
    <head>
        <!-- <link rel="stylesheet" href = "/static/back.css"> -->
        <style>
            body {
                background:#111;
                font-family:Roboto,Arial,sans-serif;
                font-size:14px;
                min-width:320px;
                position:relative;
            }
        </style>
    </head>
    <body>
     <div id="particles-js">
        <canvas class="particles-js-canvas-el" width="810" height="1080" style="width: 100%; height: 100%;"></canvas>
    </div>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/static/back.js"></script>
</body>
</html>