
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-   UA-Compatible" content = "IE=edge">
    <link rel="stylesheet" href = "/static/style.css">

    <title>Bank Login</title>
</head>
<body>

    <header>
        <h2 class="logo">Welcome to the Bank</h2>
        <nav class = "navigation">
            <button class="btnNav" id="lastTransactionBtn">Last Transaction</button>
            <button class="btnNav" id="balanceBtn">Balance</button>
            <button class="btnNav" id="transferBtn">Transfer</button>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>

    <div class="wrapper">
        <span class = "icon-close">
            <ion-icon name="close"></ion-icon>
        </span>
        <!-- Login Box -->
        <div class="form-box login">
            <h2>Login</h2>
            <form action = "/login" method="post">
                <div class = "input-box">
                    <span class = "icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type = "email" name = "email" autocomplete="off" required placeholder="username@crypto.com">
                    <label><b>Email</b></label>
                </div>
                <div class = "input-box">
                    <span class = "icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type = "password" name="password" autocomplete="off" required>
                    <label><b>Password</b></label>
                </div>
                <button type = "submit" class="btn"><b>Login</b></button>
                <div class = "login-register">
                    <p><b>Don't have an account?</b> <a href = "#" class = "register-link">Register</a></p>
                </div>
            </form>
        </div>

        <!-- Register Box -->
        <div class="form-box register">
            <h2>Registration</h2>
            <form action = "/register" method="post">
                <div class = "input-box">
                    <span class = "icon">
                        <ion-icon name="person"></ion-icon>
                    </span>
                    <input type = "text" name = "username"required>
                    <label><b>Username</b></label>
                </div>
                <div class = "input-box">
                    <span class = "icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type = "email" name = "email" autocomplete="off" required placeholder="username@crypto.com">
                    <label><b>Email</b></label>
                </div>
                <div class = "input-box">
                    <span class = "icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type = "password" name="password" autocomplete="off" required>
                    <label><b>Password</b></label>
                </div>
                <button type = "submit" class="btn"><b>Login</b></button>
                <div class = "login-register">
                    <p><b>Already have an account?</b> <a href = "#" class = "login-link">Login</a></p>
                </div>
                <div class="error-message">
                    {% if error_message %}
                        <p class="error">{{ error_message }}</p>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    <div id="particles-js">
        <canvas class="particles-js-canvas-el" width="810" height="1080" style="width: 100%; height: 100%;"></canvas>
    </div>
    
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/static/back.js"></script>
    <script src="/static/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
